<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" class="top.ytazwc.spring.dao.impl.BookDaoImpl"/>
    <bean id="bookDao2" class="top.ytazwc.spring.dao.impl.BookDaoImpl"/>

    <bean id="bookService" class="top.ytazwc.spring.service.impl.BookServiceImpl" autowire="byName"/>

</beans>